<?xml version="1.0"?>
<launch>
    <group ns="car1">
        <!-- SENSORS -->    
        <!-- urg for hokuyo -->
        <node name="urg_node_front" pkg="urg_node" type="urg_node" output="screen">
            <remap from="scan" to="front/scan"/>
            <param name="ip_address" value=""/>
            <param name="serial_port" value="/dev/hokuyo_upper_right_socket"/>
            <param name="serial_baud" value="115200"/>
            <param name="frame_id" value="laser"/>
            <param name="calibrate_time" value="true"/>
            <param name="publish_intensity" value="false"/>
            <param name="publish_multiecho" value="false"/>
            <param name="angle_min" value="-2.094395"/>
            <param name="angle_max" value="2.094395"/>
        </node>

        <node name="urg_node_rear" pkg="urg_node" type="urg_node" output="screen">
            <remap from="scan" to="rear/scan"/>
            <param name="ip_address" value=""/>
            <param name="serial_port" value="/dev/hokuyo_lower_right_socket"/>
            <param name="serial_baud" value="115200"/>
            <param name="frame_id" value="laser"/>
            <param name="calibrate_time" value="true"/>
            <param name="publish_intensity" value="false"/>
            <param name="publish_multiecho" value="false"/>
            <param name="angle_min" value="-2.094395"/>
            <param name="angle_max" value="2.094395"/>
        </node>
        
        <!-- RAZOR_IMU -->
        <arg name="razor_config_file" default="$(find solabot_rpi)/params/my_razor.yaml"/>
            <node pkg="razor_imu_9dof" type="solabot_imu.py" name="razor_imu" output="screen" >
                <rosparam file="$(arg razor_config_file)" command="load"/>
            </node>
        <!-- /SENSORS -->
    </group>
</launch>
