<?xml version="1.0"?>
<launch>
        <!-- tf -->
        <include file="$(find solabot_rpi)/launch/includes/tf.xml"/>

        <!-- SENSORS -->    
        <!-- urg for hokuyo -->
        <include file="$(find solabot_rpi)/launch/includes/urg.xml">
            <arg name="scan" value="/front/scan"/>
            <arg name="port" value="/dev/rpi_upper_right_socket"/>
            <arg name="frame" value="hokuyo_front_link"/>
        </include>

        <include file="$(find solabot_rpi)/launch/includes/urg.xml">
            <arg name="scan" value="/rear/scan"/>
            <arg name="port" value="/dev/rpi_lower_right_socket"/>
            <arg name="frame" value="hokuyo_rear_link"/>
        </include>
        
        <!-- RAZOR_IMU -->
        <arg name="razor_config_file" default="$(find solabot_rpi)/params/my_razor.yaml"/>
            <node pkg="razor_imu_9dof" type="imu_node.py" name="razor_imu" output="screen" >
            	<remap from="imu" to="imu_data"/>
                <rosparam file="$(arg razor_config_file)" command="load"/>
            </node>

        <!-- decode cmd -->
	    <node name="decode_cmd_vel_to_serial" pkg="solabot_rpi" type="decode_serial.py" respawn="true" />
</launch>
